<div class="container border border-primary rounded-lg mt-2">
    <p class="text-info">知识点时间:{{ dto.createDate | mydate }}</p>
  <div class="row">
    <div class="alert alert-primary col" role="alert" [innerHtml]="dto.content"></div>
  </div>

  <br />
  <p class="text-info">复习记录</p>
  <div class="row">
    <span  class="text-muted ml-3" *ngFor="let item of dto.logs">{{ item.reviewDate | mydate }}</span>
  </div>

  <span class="text-info">备注</span>
  <button mat-icon-button (click)="addmemo()">
    <mat-icon>add</mat-icon>
  </button>

  <div class="text-secondary ml-3 row" *ngFor="let item of dto.comments">
    <span>{{ item.createDate | date: "yyyy-MM-dd hh:mm" }}</span>
    <p>{{ item.content }}</p>
  </div>

  <div class="row">
    <button mat-raised-button color="primary" (click)="review()">
      标记为复习过了
    </button>
    <button mat-raised-button *ngIf="dto.isToday" color="primary" (click)="delete()">
      删除
    </button>
    <button mat-raised-button *ngIf="dto.isToday" color="primary" (click)="edit()">
      编辑
    </button>
    <button mat-raised-button  color="primary" (click)="cancel()">
      返回列表
    </button>
  </div>
</div>
