<button mat-icon-button style="width: 140px;" routerLink="/knowledgepoint/edit/0">
  <mat-icon>add</mat-icon>新增知识点
</button>

<div class="example-table-container">
    <mat-form-field>
        <mat-label>列表范围</mat-label>
        <mat-select (selectionChange)="scopeChange($event)" [(value)]="selected">
            <mat-option value="all">所有知识点</mat-option>
            <mat-option value="today">今天要复习的知识点</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ml-3">
        <input matInput #inputFilter [(ngModel)]="filterContent" placeholder="搜索内容">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <table mat-table [dataSource]="data" class="example-table">

             <ng-container matColumnDef="fromIndex">
              <th mat-header-cell *matHeaderCellDef> 序号</th>
              <td mat-cell *matCellDef="let i = index">{{i + fromIndex}}</td>
            </ng-container>
  
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>内容摘要</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>
  
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>状态</th>
          <td mat-cell *matCellDef="let row">{{row.reviewStatus | kpstatus}}</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"><a mat-button (click)="detail(row.id)">详情</a></td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef >
            时间
          </th>
          <td mat-cell *matCellDef="let row">{{row.createDate | mydate}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  
  